@font-face {
    font-family: 'Sofia Pro Medium Italic';
    font-style: italic;
    font-weight: 500;
    src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Italic Az.woff') format('woff');
}