@font-face {
    font-family: 'Sofia Pro UltraLight Italic';
    font-style: italic;
    font-weight: 250;
    src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Italic Az.woff') format('woff');
}