@font-face {
    font-family: 'Sofia Pro Black Italic';
    font-style: italic;
    font-weight: 900;
    src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Italic Az.woff') format('woff');
}
