/* https://www.cdnfonts.com/sofia-pro.font */
@font-face {
	font-family: 'Sofia Pro Regular';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Regular Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Regular Italic';
	font-style: italic;
	font-weight: 400;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Regular Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro ExtraLight';
	font-style: normal;
	font-weight: 250;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro ExtraLight Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro ExtraLight Italic';
	font-style: italic;
	font-weight: 250;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro ExtraLight Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro UltraLight';
	font-style: normal;
	font-weight: 250;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro UltraLight Italic';
	font-style: italic;
	font-weight: 250;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro UltraLight Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Light';
	font-style: normal;
	font-weight: 300;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Light Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Light Italic';
	font-style: italic;
	font-weight: 300;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Light Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Medium';
	font-style: normal;
	font-weight: 500;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Medium Italic';
	font-style: italic;
	font-weight: 500;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Medium Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Semi Bold';
	font-style: normal;
	font-weight: 600;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Semi Bold Italic';
	font-style: italic;
	font-weight: 600;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Bold';
	font-style: normal;
	font-weight: 700;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Bold Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Bold Italic';
	font-style: italic;
	font-weight: 700;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Bold Italic Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Black';
	font-style: normal;
	font-weight: 900;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Az.woff') format('woff');
}
@font-face {
	font-family: 'Sofia Pro Black Italic';
	font-style: italic;
	font-weight: 900;
	src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Black Italic Az.woff') format('woff');
}