@font-face {
    font-family: 'Sofia Pro Semi Bold Italic';
    font-style: italic;
    font-weight: 600;
    src: url('https://fonts.cdnfonts.com/s/14903/Sofia Pro Semi Bold Italic Az.woff') format('woff');
}